@import "tailwindcss";

@utility btn {
    border-radius: var(--radius-field);
    background-color: var(--color-base-300);
    color: var(--color-base-content);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    @apply px-3 py-1 transition-colors;

    &:focus {
        outline: 2px solid var(--color-base-500);
    }

    &:hover, &:active {
        background-color: color-mix(in oklab, var(--color-base-300) 80%, black);
    }

    &.btn-primary {
        background-color: var(--color-primary-300);
        color: var(--color-primary-content);

        &:hover, &:active {
            background-color: color-mix(in oklab, var(--color-primary-300) 80%, black);
        }
    }

    &.btn-outline {
        background-color: transparent;
        outline: 1px solid var(--color-base-500);

        &:hover, &:active {
            background-color: var(--color-base-300);
            outline: 1px solid var(--color-base-300);
        }
    }

    &.btn-ghost {
        background-color: transparent;

        &:hover, &:active {
            color: var(--color-primary-300);
        }
    }
}