@import "tailwindcss";

@utility popup-menu {
  display: flex;
  width: var(--radix-popover-trigger-width, "auto");
  padding: 0 calc(var(--spacing) * 2);
  & .inner,
  &.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-base-200);
    border-radius: var(--radius-box);
    border: 1px solid var(--color-base-300);
    @apply gap-2 px-1 py-1 outline-none;
  }
  & .popupItem {
    border-radius: var(--radius-box-inner);
    cursor: pointer;
    user-select: none;
    @apply px-3 py-2 leading-none;
    &[data-selected="true"] {
      background-color: var(--color-primary-300);
      color: var(--color-primary-500);
    }
  }
}
