@import "tailwindcss";

@utility uInput {
  background-color: var(--color-base-200);
  border-radius: var(--radius-field);
  border: 1px solid var(--color-base-300);
  @apply px-3 py-1 transition-all;

  &[aria-disabled],
  &:disabled {
    background-color: var(--color-base-300);
  }

  &[aria-invalid] {
    @apply ring-error-content ring-2;
  }

  &:focus-within,
  &:focus {
    @apply ring-base-500 ring-2;
  }

  & input:focus {
    outline: none;
  }
}
