@import "tailwindcss";

@utility separator {
    &[data-orientation="vertical"] {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 1px;
    }

    &[data-orientation="horizontal"] {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 1px;
    }
}