@import "tailwindcss";

@theme {
    --animate-slideUpAndFade: slideUpAndFade 0.4s ease;
    --animate-dialogEntry: dialogEntry 0.25s ease;

    @keyframes slideUpAndFade {
        from {
            opacity: 0;
            transform: translateY(4px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes dialogEntry {
        from {
            opacity: 0;
            scale: 0.9;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }
}