@import "tailwindcss";

@utility shimmer {
    --prop-bg-col: var(--shimmer-background, var(--color-base-100));
    --prop-fg-col: var(--shimmer-foreground, var(--color-base-300));
    background-image: linear-gradient(-45deg, var(--prop-bg-col) 40%, var(--prop-fg-col) 50%, var(--prop-bg-col) 60%);
    background-size: 500% 100%;
    animation: animateShimmer 2s infinite linear;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: red;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@theme {
    --animate-slideUpAndFade: slideUpAndFade 0.4s ease;
    --animate-dialogEntry: dialogEntry 0.25s ease;

    @keyframes slideUpAndFade {
        from {
            opacity: 0;
            transform: translateY(4px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes dialogEntry {
        from {
            opacity: 0;
            scale: 0.9;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    @keyframes animateShimmer {
        0% {
            background-position-x: 0%;
        }
        25%, 100% {
            background-position-x: 100%;
        }
    }
}